body {
  background-color:rgb(61, 53, 119);
}

p, h2, span, h4, label {
  color: rgb(246, 242, 241);
  font-family:
}

.bar-list {
    padding: 10px;
}

img {
  border-radius: 7px;
  box-shadow:5px 5px 5px black;
}

button {
    color: rgb(246, 242, 241);
    border-color:color: rgb(246, 242, 241);
    background-color: rgb(61, 53, 119);
    border-radius: 5px;
    box-shadow:;
}

.fa {
  color: rgb(246, 242, 241);
  padding: 10px;

}

.fa-spin {
  padding: 20px;
}

input[type="text"], input[type="password"]{
background-color:rgb(61, 53, 119) !important;
 color: rgb(246, 242, 241) !important;
}

.navbar-default {
  background: rgb(61, 53, 119);
  color: #ffffff;
  border-style: none;
}

.navbar-brand {
  color: rgb(246, 242, 241) !important;
}

.collapse .navbar-collapse {
  color: rgb(246, 242, 241) !important;
}



.navbar-default .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
